uvicorn[standard]
fastapi
python-multipart
email-validator
requests
celery
passlib
tenacity
pydantic
emails
raven
gunicorn
jinja2
psycopg2-binary
alembic
sqlalchemy==1.3.22
pytest
python-jose
aiofiles
openpyxl
python-socketio
psutil
bcrypt
mysqlclient
redis
numpy
